<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Vista de Productos</h1>
    <table>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Foto</th>
        </tr>
        <% products.forEach(product => {%>
            <tr>
                <td><%=product.title %></td>
                <td><%=product.price %></td>
                <td>
                    <img src="<%=product.thumbnail %>" alt="" width="80px">
                </td>
            </tr>
        <% });%> 
    </table>
    <button>
        <a href="/">Ir al formulario</a>
    </button>
</body>
</html>