doctype html 
html(lang="es")
    head 
        title Formulario
    body
        h1 Agregar productos
        form(action="/products" method="POST") 
            label(for="title") Nombre: 
            input(type="text" name="title" id="title")
            label(for="price") Precio: 
            input(type="number" name="price" id="price") 
            label(for="thumbnail") Foto URL: 
            input(type="text" name="thumbnail" id="thumbnail")
            button Guargar
        button 
            a(href="/products") Ir a Productos 