doctype html 
html(lang="es") 
    head
        title Productos 
    body 
        h1 Vista de Productos
        table
            tr 
                th Producto 
                th Precio
                th Foto
            each val in products 
                tr
                    th=val.title
                    th=val.price
                    th
                        img(src=val.thumbnail width="80px")
        button 
            a(href="/") Volver al formulario
